<p><%= t "users.hello", email: @resource.email %></p>
<p><%= t ".request" %></p>
<p>
  <%= link_to t(".change_password"),
    edit_password_url(@resource, reset_password_token: @token) %>
</p>
<p><%= t".didnot_request" %></p>
<p><%= t ".change_intruction" %></p>
